.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* background : 'rgb(0,0,0, .8)' */
  background : rgba(0, 0, 0, 0.85) url("https://st3.depositphotos.com/29861306/32589/v/1600/depositphotos_325899702-stock-illustration-worried-cartoon-people-in-office.jpg") fixed center;
  background-image: url("https://st3.depositphotos.com/29861306/32589/v/1600/depositphotos_325899702-stock-illustration-worried-cartoon-people-in-office.jpg");
  background-attachment: 'fixed';
  background-position: 'center';
  background-size: 'cover';
  background-blend-mode: darken;
  background-repeat: 'no-repeat';
  width: '100vw';
  height: '100vh';
}

.table-hover tbody tr:hover td {
  color: #2eff27;
}

.scroll-bg{
  width: 400px;
}

.scroll-div{
  width: 1250px;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  transform: rotate(180deg);
  direction:rtl;
  text-align:left;
}

.scroll-object{
  padding: 20px;
  transform: rotate(180deg);
}